<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Melody's Chat!</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="css/style.css" />
</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>Successfully logged out!</h1>
		<p>Now on to see some cute puppies...</p>
		<p><a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=s9qJnBQh008" role="button">Check Them Out!</a></p>
	</div>
</div>

</body>
</html>