.clear {
	clear:both;
}

#chat-wrapper {
	border:#CCC 5px solid;
	position:relative;
}

#chat-input-container {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}

.txt-right {
	text-align:right;
}

#chat-window {
	width:100%;
	overflow-y:scroll;
}

.bold {
	font-weight:bold;
}

.chat-row {
	padding:20px;
}

.chat-row:nth-child(odd) {
	background-color:#EBEBEB;
}

#cat-img {
	margin-top:-20px;
}

.rotate {
	transform:rotate(720deg);
	transition:all 1s ease-in-out;
}

#cat-img:hover {
	cursor:pointer;
}

.green-border {
	border:#00CF76 2px solid;
}